.col-1 {width: 6.33%;}
.col-2 {width: 14.66%;}
.col-3 {width: 23%;}
.col-4 {width: 31.33%;}
.col-5 {width: 39.66%;}
.col-6 {width: 48%;}
.col-7 {width: 56.33%;}
.col-8 {width: 64.66%;}
.col-9 {width: 73%;}
.col-10 {width: 81.33%;}
.col-11 {width: 89.66%;}
.col-12 {width: 98%;}
[class*="col-"] {
    float: left;
    padding: 15px;
    margin: 1%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

* {box-sizing: border-box}

#finish {
    background-color: #ca641c;
    color: white;
    padding: 3px;
    box-shadow: 0px 0px 5px 0px rgb(60, 25, 0);
    cursor: default;
}
#footer {
    box-shadow: 0px 0px 15px 0px rgb(60, 25, 0);
    background-color: rgba(255, 240, 200, 0.15);
    color: white;
    padding: 2%;
    text-align: left;
}
#header {
    font-size: 2em;
    font-family: georgia;
    box-shadow: 0px 0px 15px 0px rgb(60, 25, 0);
    background-color: #ca641c;
    color: white;
}
#input {
    box-shadow: 0px 0px 15px 0px rgb(60, 25, 0);
    background-color: rgba(255, 240, 200, 0.7);
    color: white;
    padding: 2%;
    text-align: left;
    font-family: montserrat;
    color: black;
}
#output{
    box-shadow: 0px 0px 15px 0px rgb(60, 25, 0);
    background-color: white;
    height: 52%;
    padding: 2%;
    font-family: monospace;
    text-align: left;
    white-space: pre;
}
#return {
    background-color: white;
    padding: 5px;
    box-shadow: 0px 0px 5px 0px rgb(60, 25, 0);
    cursor: default;
}

body {
    background-image: linear-gradient(#ca641c, #ca641c), url(wood1.jpg);
    background-blend-mode: multiply;
    min-height: 100%;
    font-family: "montserrat black";
    text-align: center;
}
form {
    margin: 0;
}
input {
    width: 100%;
    margin-bottom: 12px;
}
label {
    width: 100%;
}